mixin input-switch({type, name, label})
  .input-switch
    label.input-switch__label
      input.input-switch__input(type=type, name=name)&attributes(attributes)
      span.input-switch__trigger
      if (label)
        span.input-switch__text= label

//- Вызов:

  +input-switch({
    type: 'checkbox',
    name: 'name',
    label: 'label'
  })(checked)

  +input-switch({
    type: 'radio',
    name: 'name',
    label: 'label'
  })