mixin ui()
  +b.SECTION.ui
    .container
      +slider('type1', 'js-slider1')
        .slide 1
        .slide 2
        .slide 3
        .slide 4
      +image('https://picsum.photos/300/300/?random', 'alt')
      +button('Кнопка-ссылка', 'accent')(href='#popup', class='js-popup')
      +button('Кнопка', 'accent')(type='button')
      +title('h1', 'type1', 'Title h1')
      +title('h2', 'type1', 'Title h2')
      +title('h3', 'type1', 'Title h3')
      +title('h4', 'type1', 'Title h4')
      +title('h5', 'type1', 'Title h5')
      +title('h6', 'type1', 'Title h6')
      +text('type1', 'text')
      +link('type1', '#href', 'link')
      +list('type1')
        +e.LI.item list item
        +e.LI.item list item
      +icon('show')
      +icon('show12')
      +tooltip('tt2')
      .form-control
        +input('text', 'name', 'Имя', 'true')(data-error-empty='Заполните поле', data-error-default='Только буквы', data-error-length='Минимальная длина 2 символа')
      .form-control
        +input('text', 'email', 'Email', 'true')(data-error-empty='Заполните поле', data-error-default='Формат youremail@example.ru')
      .form-control
        +input('tel', 'phone', 'Телефон', 'true')(data-error-empty='Заполните поле', data-error-default='Формат +9 (999) 999-9999')
      .form-control
        +textarea('text', 'Сообщение', 'false')(data-error-empty='Заполните поле', data-error-length='Минимальная длина 10 символов')
      .form-control
        +input-with-label('text', 'name', 'label', 'true')(data-error-empty='Заполните поле', data-error-length='Минимальная длина 10 символов')
      .form-control
        +textarea-with-label('name', 'label', 'true', 'text')(data-error-empty='Заполните поле', data-error-length='Минимальная длина 10 символов')
      .form-control
        +select('select-name', 'Выберите', select1, 'false')
      .form-control
        +input-checkbox('checkbox1-name', 'Метка чекбокса 1')(checked)
      .form-control
        +input-checkbox('checkbox2-name', 'Метка чекбокса 2')
      .form-control
        +input-radio('radio-name', 'Метка радиокнопки 1')(checked)
      .form-control
        +input-radio('radio-name', 'Метка радиокнопки 2')
      //-.form-control
      //-  +inputFile('file-name', 'true')
      .form-control
        +input-with-label('text', 'name', 'label', 'true')(value='sfasf')
      .form-control
        +textarea-with-label('name', 'label', 'true', 'text')