input[type=checkbox]
  display: none
  + label
    position: relative
    display: flex
    align-items: center
    margin-bottom: 0
    font-size: $default-input-font-size
    font-family: $default-font
    line-height: 1
    cursor: pointer
    user-select: none
  &:not(checked)
    + label
      &:before,
      &:after
        content: ''
        border-radius: 3px
      &:before
        display: block
        width: 20px
        height: 20px
        margin-right: 10px
        border: 1px solid $default-input-border-color
      &:after
        position: absolute
        top: 50%
        left: 3px
        width: 14px
        height: 14px
        opacity: 0
        background-color: #666
        transform: translate3d(0, -50%, 0)
        +dt(.2s)
  &:checked
    + label
      &:after
        opacity: 1