mixin image(props)
  - const {src, alt, cover} = props

  img.lazyload(class=cover ? 'image--cover' : false, data-src=src, alt=alt || 'alt')&attributes(attributes)

//- Вызов:

  +image({
    src: 'https://picsum.photos/id/10/300/300',
    alt: 'alt',
    cover: true
  })