mixin slider(mods, props)
  - const blockName = 'slider'
  include ../../pug/allMods

  .swiper(class=`${allMods} ${props.jsClass}`)&attributes(attributes)
    .swiper-wrapper
      block
    if (props.pagination)
      .swiper-pagination
    if (props.arrows)
      .swiper-button-prev
      .swiper-button-next

//- Вызов:

  +slider('type1', {
    jsClass: 'js-slider1',
    pagination: true,
    arrows: true
  })
    .swiper-slide slide content