mixin slider(mods, jsClass)
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider--' + modsList[i].trim();
      }
    }
     
  +b.slider(class=`${allMods} ${jsClass}`)&attributes(attributes)
    block