mixin button(text, mods)
  - const blockName = 'button'
  include ../../pug/allMods

  if (attributes.href)
    a(class=allMods)&attributes(attributes)= text
  else
    button(class=allMods)&attributes(attributes)= text

//- Вызов:

  +button('Кнопка', 'accent')(type='button')
  +button('Кнопка disabled', 'accent')(type='button', disabled)
  +button('Кнопка-ссылка', 'accent')(href='#href')
  +button('Открыть попап', 'accent')(href='#popup', class='js-popup')