mixin button(text, mods)
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _' + modsList[i].trim();
      }
    }
    
  if (attributes.href)
    +b.A(class=`button${allMods}`)&attributes(attributes)= text
  else
    +b.BUTTON(class=`button${allMods}`)&attributes(attributes)= text