.button
  $color-silver: #c0c0c0

  display: inline-flex
  justify-content: center
  align-items: center
  border: 0
  background: none
  line-height: 1
  cursor: pointer
  user-select: none

  &:focus
    outline: 0

  &:disabled
    border: 2px solid $color-silver
    background-color: transparent
    color: $color-silver
    cursor: not-allowed

    &:hover
      background-color: transparent
      color: $color-silver

  &--accent
    +link-color(#000)
    padding: 15px
    font-size: 16px