.button
  $color-black: #000
  $color-web-orange: #f1ad00
  $color-selective-yellow: #ffba0c
  $color-silver: #c0c0c0

  display: inline-flex
  justify-content: center
  align-items: center
  border: 0
  background: none
  line-height: 1
  cursor: pointer
  user-select: none

  &:focus
    outline: 0

  &:disabled
    border: 2px solid $color-silver
    background-color: transparent
    color: $color-silver
    cursor: not-allowed

    &:hover
      background-color: transparent
      color: $color-silver

  &--accent
    +link-color($color-black)
    padding: 15px
    background-color: $color-web-orange
    font-size: 1rem
    transition: background-color 0.2s ease

    &:hover
      background-color: $color-selective-yellow