html
  font-size: 16px

  +bp($md)
    font-size: 14px

body
  opacity: 1
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: space-between
  position: relative
  min-width: 320px
  min-height: 100vh
  font-family: $font
  color: #000

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  font-weight: normal
  color: inherit

p
  margin: 0
  color: inherit

a
  text-decoration: none

  &:hover,
  &:focus
    text-decoration: none

  &:focus

    &:hover
      text-decoration: none

ul,
ol
  padding: 0
  margin: 0
  list-style-type: none

br

  +bp($md)
    display: none

img,
svg
  display: block
  max-width: 100%
  max-height: 100%

.main
  flex: auto

.container
  position: relative
  z-index: 2
  width: 100%
  max-width: $container-width
  padding-right: $container-padding
  padding-left: $container-padding
  margin-right: auto
  margin-left: auto

.nowrap
  white-space: nowrap