{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "debug": true,
        "corejs": {
          "version": "3.38.1",
          "proposals": true
        },
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}