{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}