{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "eol-last": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "no-restricted-syntax": 0,
    "no-new": 0
  }
}