mixin input-file(name, dataValidate)
  .c-input-file.js-fileInput
    .c-input-file-content
      .c-input-file-text Файл не выбран
      .c-btn.c-btn-fileInput Выбрать файл
    input(type='file', name=name, multiple data-validate=dataValidate)
    .c-input-file-content-preview
      .c-input-file-content-preview-images