input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number]
  width: 100%
  padding: 15px 10px
  font-size: $font-size--input
  font-family: $font
  line-height: 1
  color: $color--input-text
  border: 1px solid $color--input-border
  outline: none
  +placeholder($color--placeholder)

  &.error
    border-color: $color--error