mixin nav(mods, links)
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _' + modsList[i].trim();
      }
    }

  +b.NAV(class=`nav${allMods}`)
    +e.UL.list
      each link in links
        +e.LI.item
          +e.A.link(href=link.href, target=link.target, class=link.scroll ? 'js-scroll' : '')= link.title