mixin nav(mods, links, activeLink)
  - const blockName = 'nav'
  include ../../pug/allMods

  nav(class=allMods)
    ul.nav__list
      each link in links
        li.nav__item
          a.nav__link(href=link.href, target=link.target, class=`${link.scroll ? 'js-scroll' : ''} ${link.href === activeLink ? 'nav__link--active' : ''}`)= link.title

//- Вызов:

  +nav('type1', mainNav)