mixin input-checkbox(name, label)
  +b.input-checkbox
    +e.LABEL.label
      +e.INPUT.input(type='checkbox', name=name)&attributes(attributes)
      +e.SPAN.trigger
      if (label)
        +e.SPAN.text= label