include mixins/_mixins

doctype html
html(lang='ru')
	head
		include partials/_meta
		+title('Главная')
		include partials/_favicon
		include layout/_normalize
		include layout/_preloader
		include partials/_styles

	body
		//main wrapper
		.c-wrapper
			include partials/_header
			//main
			main.c-main
				block content
			//main end
			include partials/_footer
		//main wrapper end
		include partials/_hidden
		include partials/_scripts