include ../../node_modules/bemto.pug/bemto

doctype html
html(lang='ru')
  head
    include _base/_meta
    block title
    include _base/_favicon
    include _base/_reboot
    include _base/_preloader
    include _base/_styles
  body
    .wrapper
      block header
      main.main
        block content
      block footer
    .hidden
      block hidden
    include _base/_scripts