include _mixins/_mixins

doctype html
html(lang='ru')
  head
    include _base/_meta
    +title('Главная')
    include _base/_favicon
    include _base/_normalize
    include _base/_preloader
    include _base/_styles

  body
    .c-wrapper
      block top-panel
      block header
      main.c-main
        block content
      block footer
    .hidden
      block hidden
    include _base/_scripts