include mixins/_mixins

doctype html
html(lang='ru')
  head
    include partials/_meta
    +title('Главная')
    include partials/_favicon
    include partials/_normalize
    include partials/_preloader
    include partials/_styles

  body
    .c-wrapper
      block top-panel
      block header
      main.c-main
        block content
      block footer
    include partials/_hidden
    include partials/_scripts