include ./allBlocksImports

block vars
block php
  //- | <?php
  //- |   session_start();
  //- |   $_SESSION['get'] = $_GET;
  //- | ?>

doctype html
html(lang='ru')
  head
    include meta
    block meta
    block title
    +favicon()
    include preloader
    include reboot
    include styles
  body
    block header
    block aside
    main.main
      block main
    block footer
    .hidden
      block hidden
    include scripts