include ../pug/blocks
include ../pug/styles
include ../pug/scripts
block vars
block php
doctype html
html(lang='ru')
  head
    include meta
    block meta
    +favicon
    include preloader
    include reboot
    block styles
    block title
  body
    block header
    block aside
    main.main
      block main
    block footer
    block popups
    block scripts