block vars
block php
doctype html
html(lang='ru')
  head
    include meta
    block meta
    //- include pwa
    +favicon
    include preloader
    include reboot
    block styles
    block title
  body
    block header
    block aside
    main.main
      block main
    block footer
    .hidden
      block hidden
    block scripts
    //- script(src='sw.js' defer)