include ../blocks/agreement/agreement
include ../blocks/aside/aside
include ../blocks/burger/burger
include ../blocks/button/button
include ../blocks/favicon/favicon
include ../blocks/footer/footer
include ../blocks/form/form
include ../blocks/header/header
include ../blocks/icon/icon
include ../blocks/image/image
include ../blocks/input-file/input-file
include ../blocks/input-hidden/input-hidden
include ../blocks/input-switch/input-switch
include ../blocks/input-text/input-text
include ../blocks/nav/nav
include ../blocks/og-props/og-props
include ../blocks/popup/popup
include ../blocks/select/select
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tooltip/tooltip