//hidden
.hidden
	#popup-default.c-popup-default
		.c-popup-default-inner
			h2.c-popup-default-title Заголовок попапа
			form
				.c-form-item
					input(type='text', name='name', placeholder='Имя', data-validate="true")
				.c-form-item
					input(type='text', name='email', placeholder='Email', data-validate="true")
				.c-form-item
					input(type='tel', name='phone', placeholder='Телефон', data-validate="true")
				.c-form-item
					textarea(name='text', placeholder='Сообщение', data-validate="true")
				.c-form-item
					select(name='select', data-placeholder='Выберите')
						option
						option(value='Опция 1') Опция 1
						option(value='Опция 2') Опция 2
						option(value='Опция 3') Опция 3
						option(value='Опция 4') Опция 4
						option(value='Опция 5') Опция 5
				.c-form-item
					input#checkbox(type='checkbox', name='checkbox1', value='checkbox1', checked)
					label(for='checkbox') checkbox1
				.c-form-item
					input#checkbox1(type='checkbox', name='checkbox2', value='checkbox2')
					label(for='checkbox1') checkbox2
				.c-form-item
					input#radio1(type='radio', name='radio1', value='radio1', checked)
					label(for='radio1') radio1
				.c-form-item
					input#radio2(type='radio', name='radio1', value='radio2')
					label(for='radio2') radio2
				input(type='hidden', name='form_name', value='Стандартная форма заявки')
				button.c-btn.c-btn-default Отправить
//hidden end