.tooltip
  display: inline-flex

  &__element
    cursor: help

  &__content
    display: none

.tippy-popper
  $background-color: rgba(0, 0, 0, 0.733)

  &[x-placement^='bottom'] .tippy-arrow
    border-bottom-color: $background-color

  .tippy-tooltip
    padding: 0
    background-color: $background-color
    text-align: left

  .tippy-content
    padding: 10px 10px 15px
    font-size: 0.6875rem
    line-height: 0.875rem