.agreement
  margin-top: 20px

  .input-switch__label
    margin-right: 6px

  .input-switch__input + .input-switch__trigger
    margin-right: 0

  &__inner
    display: flex

  &__content
    display: flex
    align-items: center

  &__text
    font-size: 0.688rem
    line-height: 1.2
    color: inherit

  &__link
    +link-color(inherit)
    font-size: 0.6875rem
    text-decoration: underline

    &:hover
      text-decoration: none