.agreement
  margin-top: 20px
  
  input[type=checkbox]
    
    + label
      
      &:not(checked)
        margin-right: 9px
        
        &::before
          margin-right: 0
  
  &__top-text
    font-size: 12px
    line-height: 1.3
    color: $color--dark
    margin-bottom: 6px
  
  &__inner
    display: flex
    align-items: flex-start
  
  &__text
    font-size: 10px
    line-height: 1.3
    color: $color--dark
    
    a
      +link(10px, $color--dark)
      text-decoration: underline
      
      &:hover
        text-decoration: none