.agreement
  margin-top: 20px

  &__inner
    display: flex

  &__content
    display: flex
    align-items: center

  &__text
    font-size: 11px
    line-height: 1.2
    color: $color--dark

  &__link
    +link(11px, $color--dark)
    text-decoration: underline

    &:hover
      text-decoration: none