mixin agreement()
  +b.agreement
    //-+checkbox('agreement', 'Даю согласие', null, 'Даю согласие на обработку своих персональных данных', 'checked')
    +e.top-text Мы серьезно относимся к конфиденциальности данных. В связи со вступлением в силу нового Общего регламента ЕС по защите персональных данных (GDPR), нам требуется Ваше согласие на использование контактных данных со стороны сайта.
    +e.inner
      +input-checkbox('agreement', 'Даю согласие', null, '', null)
      +e.text Выбирая эту опцию, Вы даете свое согласие на использование Ваших контактных данных со стороны сайта в соответствии с положениями документа 
        a(href='#popup-privacy').js-popup Marketing Consent Statement
        | . 
        br
        | сайт использует предоставленные здесь данные в соответствии с 
        a(href='#popup-privacy').js-popup Положением о конфиденциальности
        | .