mixin agreement()
  +b.agreement
    +e.inner
      +input-checkbox('agreement', null)
      +e.content
        +e.P.text Выбирая эту опцию, Вы даете свое согласие на использование Ваших контактных данных со стороны сайта в соответствии с положениями документа 
          +e.A.link(href='#popup-privacy').js-popup Marketing Consent Statement
          | . сайт использует предоставленные здесь данные в соответствии с 
          +e.A.link(href='#popup-privacy').js-popup Положением о конфиденциальности
          | .