mixin select(name, placeholder, options)
  .c-form-item.c-form-item_style1
    select(name=name, data-placeholder=placeholder)
      option
      each text, value in options
        option(value=value)= text