extends ../pug/_template-main

include ../pug/styles
include ../pug/scripts
include ../blocks/favicon/favicon
include ../blocks/popup-success/popup-success
//- include ../blocks/select/select
//- include ../blocks/image/image

block vars
  - const pageName = 'main page'
  - const description = pageName
  - const keywords = pageName

block php
  //- | <?php
  //- |   session_start();
  //- |   $_SESSION['get'] = $_GET;
  //- |   $_SESSION['page'] = '#{pageName}';
  //- | ?>

block meta
  meta(name='description' content=description)
  meta(name='keywords' content=keywords)

block styles
  +styles(['index'])

block title
  title= pageName

block header

block aside

block main
  p Everything is working, happy hacking =_)

block footer

block hidden
  +popup-success

block scripts
  +scripts(['index'])