extends ../pug/_template-main

block php
  //- :php
    //- $_SESSION['page'] = 'Main';

block meta
  meta(name='description' content=projectName)
  meta(name='keywords' content=projectName)

block title
  +page-title('|', 'Main')

block header

block aside

block main
  p Everything is working, happy hacking =_)

block footer

block hidden
  +popup-success()