extends ../pug/_template-main

include ../pug/styles
include ../pug/scripts

block vars
  - const page = 'index'
  - const title = 'main page'
  - const description = pageName
  - const keywords = pageName

block php
  //- | <?php
  //- |   session_start();
  //- |   $_SESSION['get'] = $_GET;
  //- |   $_SESSION['page'] = '#{title}';
  //- | ?>

block meta
  meta(name='description' content=description)
  meta(name='keywords' content=keywords)

block styles
  +styles([page])

block title
  title= title

block header

block aside

block main
  p Everything is working, happy hacking =_)

block footer

block popups
  //- +popup({
  //-   id: 'popup-success',
  //-   type: 'success',
  //-   title: 'Спасибо за заявку!',
  //-   text: 'Наш менеджер свяжется с вами в ближайшее время'
  //- })

block scripts
  +scripts([page])