extends ../pug/_template-main

block vars
  - const pageName = 'main page'
  - const description = pageName
  - const keywords = pageName

block php
  //- | <?php
  //- |   $_SESSION['page'] = '#{pageName}';
  //- | ?>

block meta
  meta(name='description' content=description)
  meta(name='keywords' content=keywords)

block title
  title= pageName

block header

block aside

block main
  p Everything is working, happy hacking =_)

block footer

block hidden
  +popup-success