extends ../_main

block title
  +title(null, null)

block header
  include _partials/_header

block content
  include _elements/_block1

block footer
  include _partials/_footer

block hidden
  include _hidden/_popupDefault