extends ../_main

block top-panel
  //- include ../components/_top-panel

block header
  include ../components/_header

block content
  include ../components/_block1
    
block footer
  include ../components/_footer