extends ../_main
include ./_partials/_header
include ./_partials/_footer

block title
  +title(null, null)

block header
  +header()

block content
  include _elements/_block1

block footer
  +footer()

block hidden
  include _hidden/_popupDefault
  include _hidden/_popupNav