mixin logo(img, mods)
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' c-logo--' + modsList[i].trim();
      }
    }

  +b.A.logo(class=`${allMods}`, href='./')&attributes(attributes)
    +e.img(src=img, alt=`${projectName}`)