mixin logo(mods, img)
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo_' + modsList[i].trim();
      }
    }

  +b.A(class=`logo${allMods}`, href='./')&attributes(attributes)
    +e.img.lazyload(src=img, alt=`${projectName}`)