extends ../_main

//-block php
//-  :php
//-    $_SESSION['page'] = 'Главная';

block title
  +page-title('|', 'Главная')

block header
  +header()

block content
  +ui()

block footer
  +footer()

block hidden
  +popup()
  +popup-nav()
  +popup-success()