include ../button/button
include ../slider/slider

mixin block()
  +slider('slider1', '')
    .slide 1
    .slide 1
    .slide 1
    .slide 1
  +b.c-block
  +button('Кнопка-ссылка', 'accent', 'js-popup')(href='#popup')
  +button('Кнопка', 'accent', '')(type='button')
    +b.A.element.js-popup(href='#popup') Открыть попап