mixin text(mods, text)
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' text_' + modsList[i].trim();
      }
    }

  p(class=`text${allMods}`)&attributes(attributes)= text