mixin aside
  aside.aside
    .aside__inner
      .aside__element
        .aside__image(style='background-image: url(\'https://picsum.photos/id/10/600/600\')')
      .aside__element
        a.aside__phone(href='tel:+79999999999') +7 999 999 9999
      .aside__element
        +nav('aside', mainNav, '/')
    .aside__bg