mixin popup-success()
  .popup-success#popup-success
    .popup-success__inner
      h2.popup-success__title Спасибо за заявку!
      p.popup-success__text Наш менеджер свяжется с вами в ближайшее время