doctype html
html(lang='ru')
	include pug/head
	body

		//main wrapper
		.c-wrapper

			include pug/header

			//main
			main.c-main
			//main end

			include pug/footer

		include pug/hidden

		include pug/scripts