mixin select(name, placeholder, options, validate)
  select(name=name, data-placeholder=placeholder, data-validate=validate)&attributes(attributes)
    each text, value in options
      option(value=value)= text