@import '../../node_modules/choices.js/src/styles/choices'

select
  display: none

.choices
  $color-silver: #c0c0c0

  margin-bottom: 0
  font-size: 0.875rem

  &__inner
    padding-left: 6px
    border: 1px solid $color-silver
    background-color: #fff
    border-radius: 0

    &.error
      border-color: #ff6347

  &__placeholder
    opacity: 1
    color: $color-silver