mixin select(name, placeholder, options)
  select(name=name)&attributes(attributes)
    option(placeholder)= placeholder
    each text, value in options
      option(value=value)= text

//- Вызов:

  +select('name', 'Выберите', select)