@import '../../node_modules/choices.js/src/styles/choices'

select
  display: none

.choices
  $color-white: #fff
  $color-persimmon: #ff6347
  $color-silver: #c0c0c0
  $color-black: #000
  $font-size-input: 0.875rem

  margin-bottom: 0
  font-size: $font-size-input

  &__inner
    padding-left: 6px
    border: 1px solid $color-silver
    background-color: $color-white
    border-radius: 0

    &.error
      border-color: $color-persimmon

  &__placeholder
    opacity: 1
    color: $color-silver