mixin input-radio(name, label)
  +b.input-radio
    +e.LABEL.label
      +e.INPUT.input(type='radio', name=name)&attributes(attributes)
      +e.SPAN.trigger
      if (label)
        +e.SPAN.text= label