.popup
  position: relative
  max-width: 500px
  width: 100%
  margin: 0 auto

  .form-control
    margin-bottom: 15px

  &__inner
    background-color: $color--light
    padding: 30px 25px
    position: relative

  &__title
    font-size: 24px
    margin-bottom: 20px

button.mfp-close
  width: auto
  height: auto
  line-height: 1
  padding: 6px 12px !important
  display: inline-block

.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.3s ease-in-out

.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  +dt($transition)

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0

.js-popup-gallery-images
  display: none