@import '../../node_modules/magnific-popup/src/css/main'

.popup
  $color-white: #fff

  position: relative
  width: 100%
  max-width: 500px
  margin: 0 auto

  &__inner
    position: relative
    padding: 30px 25px
    background-color: $color-white

.mfp-close
  display: inline-block
  width: auto
  height: auto
  padding: 6px 12px
  line-height: 1

.mfp-fade.mfp-bg
  opacity: 0
  transition: opacity 0.3s ease-in-out

.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: opacity 0.2s ease

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0